@import '~bootstrap/scss/bootstrap';
// @import '../../public/hpfont/harryp__-webfont.woff2';
// @import '../../public/hpfont/harryp__-webfont.woff';
$text-color: #fff;
$background-color: #000;

body {
  background-image: url('pensieve.png');
  background-color: $background-color;
  color: $text-color;
  // font-family: 'harry_pregular';
}

// @font-face {
//   font-family: 'harry_pregular';
//   src: url('harryp__-webfont.woff2') format('woff2'),
//        url('harryp__-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
